@keyframes accordion-down {
    from {
        height: 0;
    }
    to {
        height: var(--radix-accordion-content-height);
    }
}

@keyframes accordion-up {
    from {
        height: var(--radix-accordion-content-height);
    }
    to {
        height: 0;
    }
}

.accordionContent {
    overflow: hidden;
    transition: all 0.2s ease-out;

    &[data-state='closed'] {
        animation: accordion-up 0.2s ease-out;
    }

    &[data-state='open'] {
        animation: accordion-down 0.2s ease-out;
    }
}
